<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <%= render 'shared/user_profile', user: @user %>
        </section>
        <section class="user_menu">
            <%= render 'shared/menu', user: @user %>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%# render partial: 'microposts/micropost', collection: @microposts
                   @microposts.each do |micropost|
                     render partial: 'microposts/micropost', locals: { micropost: micropost }
                   end
                %>
                <%= render @microposts %>
            </ol>
        <% end %>
    </div>
</div>